<%- include('header') %>
        
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                        <div class="row d-flex align-items-center justify-content-center">
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                                <!-- ============================================================== -->
                                <!-- sales traffice source  -->
                                <!-- ============================================================== -->
                                <div class="card m-5 p-2">
                                    <h5 class="card-header">Assignment for
                                        Quadiro Technologies</h5>
                                </div>
                            </div>           
                        </div>
                    </div>
                </div>
            </div>

<%- include('footer') %>